body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}

.box-container {
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  border-radius:5%;
  border: solid 10px;
  border-color: hsl(0, 0%, 100%);
  margin: 10% 42% 10% 42%;
  padding-top: 5px;
}

.qrcode {
  width: 95%;
  height: 60%;
  position: relative;
  display: inline-block;
  border-radius:5%;

}

h3 {
  font-weight: 700;
  text-align: center;
  color: hsl(218, 44%, 22%);
  padding-left: 5%;
  padding-right: 5%;
}

p {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: hsl(220, 15%, 55%);
  padding-left: 5%;
  padding-right: 5%;
}

.attribution {
  text-align: center;
  color: hsl(218, 44%, 22%);
  font-weight: 500;
  font-size: 15px;
}
